#welcome{
    position: relative;
    height: 65vh;
    text-align: center;
    padding-top: 50px;
}
.head-txt{
  margin-top: 40px;
}
.a{
  display: inline-block;
  width: 280px;
  text-align: left;
  vertical-align: top;  
}
  .ulfirst{
    margin-left: 120px;
  }
  .a li{
    list-style-type: square;
    width: 210px;
  }
.material-placeholder{
  display: inline-block;
}
  #hoverP{
    display: none;
  }
  .materialboxed:hover #hoverP{
    display: initial;
  }

/*///////////////*/
/*materialize*/
/*///////////////*/

nav .brand-logo {
  color: black;
  font-weight: bold;
}
nav{
  border-bottom: solid 3px orange;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}